body {
    font-family: 'Arial', sans-serif;
    background-color: #c4ece7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20%;
    margin-left: 20%;
    padding: 10p;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 40%; /* Adjusted container width */
    height: auto; /* Set height to auto */
    background-color: hsl(197, 58%, 91%);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(215, 219, 219, 0.1);
}

h2 {
    color: #333;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
}

select, textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
    border: 1px solid #7f7bb8;
    border-radius: 4px;
    box-sizing: border-box;
}

.question, .answer {
   height: auto;
    width: 60%;
    overflow-y: auto;
    border: 1px solid;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.question {
    background-color: #3498db;
    color: #fff;
    margin-left: auto;
}

.answer {
    background-color: #2ecc71;
    color: #fff;
    margin-right: auto;
}

input[type="submit"] {
    background-color: #bfc4bf;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Add your additional styles as needed */
