{% load static %}

<!DOCTYPE html>
<html>
<head>
    
    <title>LezzyAI</title>
    <link rel="stylesheet" type="text/css" href="{% static 'contract_app/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h2>Topics</h2>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul>
                    {% for topic in topics %}
                        <a href="{% url 'topic_view' id=topic.id %}">
                            <li>{{ topic.title }}</li>
                        </a>
                    {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="chat-window">
            <h2>LizzyAI chatbot</h2>

            <form method="post" action="{% url 'generate_response' %}">
                {% csrf_token %}
                <!--  document selection -->
                <label for="document">Select Document:</label>
                <select name="document" id="document">
                    <option value="">All Documents</option>
                    {% for document in documents %}
                        <option value="{{ document.pdf_file.name }}" {% if document.pdf_file.name == selected_document %}selected{% endif %}>
                            {{ document.pdf_file.name }}
                        </option>
                    {% endfor %}
                </select>

                <!-- question -->
                <div class="question">
                    {{user_question}}
                </div>
                <!-- generated response display -->
                <br>
                <div class="answer">
                    {{ generated_response }}
                </div>
                
                <!-- input text -->
                <br>
                <textarea id="input_text" name="input_text" cols="40" rows="5" placeholder="Enter your text here"></textarea><br>
                <input type="submit" value="Generate">
            </form>
        </div>
    </div>
</html>

